@using System.Web.Optimization
@using egitimUygulamasi.App_Start
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Areas/admin/Content/images/favicon.png"  />
    <title>@ViewBag.Title | Admin Paneli </title>
   
    @Styles.Render("~/admin/styles")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.RouteUrl("Home")"class="site_title"><span>Eğitim Paneli</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Areas/admin/Content/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Merhaba,</span>
                            <h2>Ali Duru</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>MENÜLER</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.RouteUrl("Home")"><i class="fa fa-home"></i> Anasayfa </a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("Lessons")"><i class="fa fa-book"></i> Ders Yönetimi</a>

                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("Topics")"><i class="fa fa-reorder"></i> Konu Yönetimi </a>

                                </li>

                                <li>
                                    <a href="@Url.RouteUrl("TopicContents")"><i class="fa fa-sitemap"></i> Konu İçerik Yönetimi </a>

                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("Questions")"><i class="fa fa-question-circle"></i> Soru-Cevap Yönetimi </a>

                                </li>

                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>YÖNETİCİ</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.RouteUrl("Users")"><i class="fa fa-users"></i> Kullanıcılar </a>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Ayarlar">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Full Ekran">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Kilitle">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Çıkış" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Areas/admin/Content/images/img.jpg" alt="">Ali Duru
                                    <span class=" fa fa-angle-down "></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"><i class="fa fa-user pull-right"></i> Profil</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-cog pull-right"></i><span>Ayarlar</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;"> <i class="fa fa-question-circle pull-right"></i>Yardım</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Çıkış</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            <div class="right_col" role="main">
                @RenderBody()
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <img src="~/Areas/admin/Content/images/tu_logo.png" height="18px" width="18px" />
                    &nbsp;<a> Trakya University </a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
        </div>
    @Scripts.Render("~/admin/scripts")
   

</body>
</html>



