@model  IEnumerable<egitimUygulamasi.Areas.admin.Models.Kullanici>

@{
    ViewBag.Title = "Kullanıcı Yönetim";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Kullanıcı Düzenle <small>Kullanıcı İçeriğinin Düzenlenmesi</small></h2>
            <ul class="nav navbar-right">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.RouteUrl("AddUser")'">Yeni Kullanıcı</button>
        </div>

        <div class="x_content">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Sifre</th>
                        <th>Mail</th>
                        <th>Fotoğraf</th>
                        <th>Yönetici mi?</th>
                        <th>Konu Bilgisi</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="tr_@item.ID">
                            <td> </td>
                            <td>
                                @item.Adi
                            </td>
                            <td>
                                @item.Soyadi
                            </td>
                            <td>
                                @item.KullaniciAdi
                            </td>
                            <td>
                                @item.Sifre
                            </td>
                            <td>
                                @item.Mail
                            </td>
                            <td>
                                @item.Foto
                            </td>

                            @if (@item.YoneticiMi == true)
                            {
                                <td>Evet</td>
                            }
                            else
                            {
                                <td>Hayır</td>
                            }

                            <td>
                                @item.Konu.KonuAdi
                            </td>
                            <td>
                                @Html.RouteLink("Düzenle", "EditUser", new { id = item.ID })
                            </td>
                            <td>
                                <a href="#" onclick="DeleteUser(@item.ID)">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



<script>
    function DeleteUser(id) {
        if (confirm("Kullanıcı Silinsin mi ?")) {
            $.ajax({
                type: "POST",
                url: "kullaniciSil",
                data: { ID: id },
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result.durum == "OK") {
                        $("#tr_" + id).remove();
                        $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                    }
                    else if (result.durum = "NO") {
                        $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                    }
                }
            });
        }
    }
</script>




