@model egitimUygulamasi.Areas.admin.Models.Soru

@{
    ViewBag.Title = "Soru Düzenle";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Test Ekle <small>Test İçeriğinin Eklenmesi</small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.RouteUrl("Questions")'">Test Listesi</button>
        </div>

        <div class="clearfix"></div>
        @Html.Raw(@ViewBag.Message)
        @using (Html.BeginForm("Edit", "Question", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="x_content">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="konuAdi">
                        Konu Adı <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="DersID" name="DersID" class="form-control">
                            @foreach (var item in ViewBag.Question)
                            {
                                <option value="@item.ID">@item.KonuAdi</option>
                            }

                        </select>
                    </div>
                </div>


                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="icerik">
                        Soru <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        
                    @Html.EditorFor(model => model.Sorular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sorular, "", new { @class = "text-danger" })
                    </div>
                   
                </div>


                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="icerik">
                        Soru Tipi <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="radio" name="tip" /> Test <br />
                        <input type="radio" name="tip" /> Doğru Yanlış <br />
                        <input type="radio" name="tip" /> Boşluk Doldurma
                    </div>
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="icerik">
                        Cevap <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    </div>
                </div>




                <br />
                <br />
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                        <button class="btn btn-primary" type="reset">Temizle</button>
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
